nav {
  background: #f4f4f5;
}

.note-card-selected {
  background-color: rgba(164,207,222, .3);
}

.separator {
  background: #f0f0f0f0; 
  width: 100%;
  height: 1px;
  opacity: .8;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal .modal-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #efefef;
  padding: 22px;
  width: 50%;
  height: 80%;
  border-radius: 8px;
}
.modal .modal-content main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal .modal-content main label {
  font-size: 18px;
  font-weight: medium;
  margin-bottom: 8px;
}

.modal .modal-content main input {
  width: 100%;
  height: 38px;
  border-radius: 3px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  padding: 16px;
  margin-bottom: 12px;
  color: black;
}

.modal .modal-content main textarea {
  height: 250px;
  border-radius: 3px;
  font-family: Roboto;
  padding: 12px;
  font-size: 18px;
}

.modal .modal-content footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
}

.modal .modal-content footer button {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: white;
  background-color: #0e0e0e;
  padding: 12px;

  border-radius: 8px;
}

.container {
  display: grid;

  grid-template-columns: 69px 30vw calc(100vw - 30vw - 70px);
  grid-template-rows: 10vh 90vh; 

  grid-template-areas: 
    'menu notes contentHeader'
    'menu notes contentBody';
}

.container > nav {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container nav > img { 
  width: 24px;
  height: 24px; 
  margin-bottom: 12px;
}

.container nav div {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

}
.container > nav div button:first-child {
  margin-top: 12px;
}
.container nav div > button {
  border: 0;
  background: #f4f4f5;
}
.container nav div button > img {
  width: 24px;
  height: 24px;
}

.notes-container::-webkit-scrollbar {
  display: none;
}

.notes-container {
  grid-area: notes;

  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;

  row-gap: 8px;
}

/* note-card */
.note-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  padding: 8px 8px 8px 15px;
}

.note-card-container header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 8px;
}

.note-card-container header > h3 {
  font-family: Ubuntu;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  cursor: inherit;
}
.note-card-container header > label {
  font-family: Ubuntu;
  font-weight: 500;
  cursor: inherit;
}

.note-card-container > p {
  color: #a8a9a9;
  font-size: 14px;
  font-weight: 400;
  cursor: inherit;
}

.container .note-detail > nav  {
  grid-area: contentHeader;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .note-detail > nav > .note-detail-buttons {
  flex-direction: row;

  padding-left: 15px;
  column-gap: 24px;
}

.container .note-detail > nav > label {
  font-weight: 400;
  font-size: 18px;
  margin-right: 12px; 
  color: #0f0f0f;
}

.container .note-detail .text-area {
  grid-area: contentBody;
  width: calc(100vw - 30vw - 70px);

  height: 89vh;
}
.container .note-detail .text-area h2 {
  padding: 12px;
}
.container .note-detail .text-area textarea, textarea:focus {
  width: 100%;
  height: 100%;
  padding: 12px;

  font-family: Ubuntu;
  font-weight: 400;
  font-size: 20px;
}
